.navbar{
  display: flex;
  width:100%;
  background-color:#ff9ff3;
  flex-wrap: wrap;
}

.logo{
  background-color: #00263A;
  width: 180px;
  height: 64px;
  /* float: left; */
  /* margin-left:20px; */
  }
.menu{ background-color:#8D528B; }

.logo{
  flex:1 2 10%;
}

.menu{
  flex:1 2 90%;
  display: flex;
}
